<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
</head>
<body>
<div th:if="${message}" th:text="${message}"></div>
<form th:action="@{/auth/password/change}" th:object="${form}" method="post">
    <div>
        <label>Current Password:</label>
        <input type="password" th:field="*{currentPassword}" required>
    </div>
    <div>
        <label>New Password:</label>
        <input type="password" th:field="*{newPassword}" required>
    </div>
    <button type="submit">Change Password</button>
</form>
</body>
</html>